body {
  font-family: "Satoshi", sans-serif;
}
.text {
  font-family: "Seymour One", sans-serif;
}

.Ellipse {
  width: 22.98288rem;
  height: 25.20706rem;
  transform: rotate(38.213deg);
  border-radius: 25.20706rem;
  background: rgba(99, 63, 211, 0.15);
  filter: blur(150px);
}
.Ellipse2 {
  border-radius: 20.65625rem;
  background: rgba(12, 56, 98, 0.5);
  filter: blur(150px);
  width: 20.65625rem;
  height: 19.55006rem;
  transform: rotate(-36.156deg);
}
.Ellipse3 {
  width: 17.97775rem;
  height: 17.7005rem;
  transform: rotate(-36.156deg);
  border-radius: 17.97775rem;
  background: rgba(12, 56, 98, 0.5);
  filter: blur(150px);
}
.Ellipse4 {
  width: 22.98288rem;
  height: 25.20706rem;
  transform: rotate(38.213deg);
  border-radius: 25.20706rem;
  background: rgba(99, 63, 211, 0.2);
  filter: blur(150px);
}

.bgs {
  width: 18.3125rem;
  height: 2.1875rem;
  border-radius: 18.3125rem;
  background: #b410ff;
  filter: blur(100px);
}

.text-white li:hover {
  color: #c979cf;
  /* Add any other hover styles you need */
}
.text {
  color: rgba(255, 255, 255, 0.9);
}
.hero {
  width: 12.32638rem;
  height: 25.20706rem;
  transform: rotate(89.386deg);
  border-radius: 25.20706rem;
  background: rgba(99, 63, 211, 0.2);
  filter: blur(150px);
}

.blob {
  animation: blobs 12s linear infinite;
}

@keyframes blobs {
  from {
    transform: rotate3d(0%);
  }
  to {
    transform: rotate3d(360deg);
  }
}

.btn {
  position: relative;
  width: 12.5rem;
  height: 3.125rem;
  border-radius: 1.875rem;
  overflow: hidden;
  background: transparent;
  border: 1px solid #a57f98;
  color: white;
}

.btn::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, #37024e, transparent);
  transform: translateX(-100%);
  transition: 0.9s;
  position: absolute;
}

.btn:hover::before {
  transform: translateX(100%);
}

.btn:hover {
  background: transparent;
  box-shadow: 0 0 20px 5px #37024e;
}

.card:hover {
  box-shadow: none;
  border: 1px solid rgba(99, 63, 211, 0.36);
  box-shadow: 0 0 10px 10px
    conic-gradient(
      from 0deg at 50% 50%,
      #633fd3,
      #633fd3,
      #040013,
      #040013,
      #040013,
      #040013,
      #040013,
      #040013,
      #040013,
      #040013,
      #040013,
      #040013,
      #040013,
      #000000,
      #86dbf006,
      #d9d9d900
    );
}

.card {
  border: 1px solid rgba(99, 63, 211, 0.36);
  background: linear-gradient(
    180deg,
    rgba(201, 121, 207, 0.03) 0%,
    rgba(201, 121, 207, 0) 100%
  );
  border-radius: 1.625rem;
  transition: box-shadow 0.5s ease-in-out;
}

.projects {
  width: 25.75rem;
  height: 16.9375rem;
  border-radius: 25.75rem;
  background: linear-gradient(
    180deg,
    rgba(99, 63, 211, 0.1) 0%,
    rgba(212, 68, 236, 0.03) 100%
  );
  filter: blur(50px);
}

.design {
  background: linear-gradient(180deg, #fff 0%, rgba(238, 238, 241, 0.48) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.active {
  color: #c979cf;
}
.skills {
  font-family: "Island Moments", cursive;
}
.Ellipse5 {
  width: 12.32638rem;
  height: 25.20706rem;
  transform: rotate(89.386deg);
  border-radius: 25.20706rem;
  background: rgba(99, 63, 211, 0.15);
  filter: blur(150px);
}

@keyframes glow {
  0%,
  100% {
    filter: drop-shadow(0px 0px 15px rgba(201, 121, 207, 1));
  }
  50% {
    filter: drop-shadow(0px 0px 25px rgba(201, 121, 207, 1));
  }
}

.glowing-text {
  animation: glow 2s infinite alternate;
}

.glow {
  animation: glow 1.3s ease infinite;
  -moz-animation: glow 1.3s ease infinite;
  -webkit-animation: glow 1.3s ease infinite;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 1px rgb(201, 121, 207), 0 0 2px rgb(201, 121, 207),
      0 0 3px rgba(201, 121, 207, 1);
  }
  50% {
    text-shadow: 0 0 2px rgb(201, 121, 207),
      0 0 6px rgb(201, 121, 207) 0 0 4px rgb(201, 121, 207);
  }
  100% {
    text-shadow: 0 0 1px rgb(201, 121, 207), 0 0 2px rgb(201, 121, 207),
      -1px 1px 0 rgba(255, 255, 255, 0.5);
  }
}

.text-with-stroke {
  /* color: white; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: -1px -1px 0 white, 1px -1px 0 rgba(255, 255, 255, 0.5),
    -1px 1px 0 rgba(255, 255, 255, 0.5), 1px 1px 0 rgba(255, 255, 255, 0.5);
  font-weight: 600;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.dropdown {
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.slide-in {
  animation-name: slideIn;
  animation-fill-mode: forwards;
}

.slide-out {
  animation-name: slideOut;
  /* animation-fill-mode: forwards; */
}

@media only screen and (min-width: 768px) {
  .btn {
    position: relative;
    width: 12.5rem;
    height: 3.125rem;
    border-radius: 1.875rem;
    overflow: hidden;
    background: transparent;
    border: 1px solid #a57f98;
    color: white;
  }
  .Ellipse {
    width: 22.98288rem;
    height: 25.20706rem;
    transform: rotate(38.213deg);
    border-radius: 25.20706rem;
    background: rgba(99, 63, 211, 0.15);
    filter: blur(150px);
  }
  .projects {
    width: 25.75rem;
    height: 16.9375rem;
    border-radius: 25.75rem;
    background: linear-gradient(
      180deg,
      rgba(99, 63, 211, 0.1) 0%,
      rgba(212, 68, 236, 0.03) 100%
    );
    filter: blur(50px);
  }
}
@media only screen and (max-width: 767px) {
  .btn {
    position: relative;
    width: 8.5rem;
    height: 2.125rem;
    border-radius: 1.875rem;
    overflow: hidden;
    background: transparent;
    border: 1px solid #a57f98;
    color: white;
    font-size: small;
  }
  .Ellipse {
    width: 15.98288rem;
    height: 15.20706rem;
    transform: rotate(38.213deg);
    border-radius: 25.20706rem;
    background: rgba(99, 63, 211, 0.15);
    filter: blur(150px);
  }
  .projects {
    width: 13.44588rem;
    height: 8.84425rem;
    border-radius: 25.75rem;
    background: linear-gradient(
      180deg,
      rgba(99, 63, 211, 0.1) 0%,
      rgba(212, 68, 236, 0.03) 100%
    );
    filter: blur(50px);
  }
}
